name: NPM Publish

on:
  push:
    branches:
      - main

jobs:
  npm-publish:
    name: NPM Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm ci

      - run: npm run build

      - run: npm run package

      - uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}